<div style=" background-color: #ece0d9;
    width: 500px;
    padding: 3em;
    border-radius: 1em;
    margin: 5em auto ;
    text-align: center;">
    <h1 style="color: red; font-size:6em">404</h1>
    <h1>{{ mensajeError }}</h1>
</div>