
  <form action="/user/registrarUsuario" method="post" class="formLogin">
     <h2 class="text-center">Registrar Usuario</h2>
     <br>
      <label class="form-label" for="usuario">Usuario</label>
      <input class="form-control" required type="text" id="usuario" name="usuario" placeholder="Ingrese Usuario">
      <br>
      <label class="form-label" for="nombre">Nombre</label>
      <input class="form-control" required type="text" id="nombre" name="nombre" placeholder="Ingrese Nombre">
      <br>
      <label class="form-label" for="email">Email</label>
      <input class="form-control" required type="email" id="email" name="email" placeholder="Ingrese Email">
      <br>
      <label class="form-label" for="password">Contraseña</label>
      <input class="form-control"  required="number" id="password" name="password" placeholder="Ingrese Contraseña">
      <br>
      <button class="btn btn-secondary" type="reset" >Limpiar</button>
      <button class="btn btn-success" type="submit">Crear</button>
     
   </form>
  




    

