<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <link rel="stylesheet" href="estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body  >
 
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid textNavInd">
      <h1 class="text-center">Comidas Congeladas</h1>
    </div>
  </nav>
    
   <div class="content">
    <form action="post" class="formLogin">
 <h2 class="text-center">Ingreso</h2>
      <label class="form-label" for="usuario">Usuario</label>
      <input class="form-control" type="text" id="usuario" name="usuario" placeholder="Ingrese DNI o Usuario">
      <br>
      <label class="form-label" for="password">Contraseña</label>
      <input class="form-control" type="number" id="password" name="password" placeholder="Ingrese Contraseña">
      <br>
      <button class="btn btn-secondary" type="reset" >Limpiar</button>
      <button class="btn btn-success" type="submit">Ingresar</button>
      <a class="btn btn-info" href="./Formulario.html" >Crear usuario</a>
      <button   class="btn btn-info" >Crear Usuario</button>
   </form>
   </div>


   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>