<div class="containerProductos" >
  <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://www.cocinacaserayfacil.net/wp-content/uploads/2016/06/Arroz-tres-delicias-chino.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">RECETA DEL ARROZ TRES RECETA ORIGINAL</h5>
        <p class="card-text">Arroz tres delicias receta original. Un plato muy común en los restaurantes de comida china en España. Consiste en un arroz cocido, junto a unas verduras, carne y tortilla (tres delicias) que finalmente se frie en aceite muy caliente. Adicionalmente y aunque, yo lo he visto poco en los susodichos restaurantes, se le puede añadir soja. Le da un toque más oriental y más rico. Una de las cosas buenas que tiene este plato es que es muy fácil de hacer. Y también muy barato. Con 5€ te puede salir para rellenar varios tuppers. A continuación, veamos cómo hacer un arroz tres delicias chino</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.cocinacaserayfacil.net/wp-content/uploads/2016/03/Pollo-al-horno-con-verduras-600x338.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">POLLO AL HORNO CON VERDURAS</h5>
        <p class="card-text">Pollo al horno con verduras. Otra forma más de preparar esta popular carne. Pollo asado. Además es una opción muy saludable, debido a que la carne de pollo es de las más saludables de todas las carnes que hay, las verduras que poco hay que decir de ellas y a que, el horneado es una de las técnicas de cocción más sanas. Así que ésta es una estupenda manera de comer carne de forma muy saludable. Veamos como hacer este pollo al horno con verduras:</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.cocinacaserayfacil.net/wp-content/uploads/2016/10/pollo-a-la-naranja-600x338.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">POLLO A LA NARANJA RECETA CHINA</h5>
        <p class="card-text">Es una comida típica de Asia. No tiene nada que ver con el pato al horno a la naranja, plato típico francés. En este caso, se trata de unas pechugas de pollo cocinadas junto a una salsa hecha a base de zumo de naranja. Se puede acompañar de un arroz blanco, que le va a venir «al pelo» a este plato. Es muy fácil y rápido de hacer, como casi todo lo que el vitoriano Gorka Barredo propone en esta web. Lo tendrás listo en cuestión de 30 minutos. O menos. Una receta de pollo deliciosa. Para preparar tu pollo ala naranja necesitarás:</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.cocinacaserayfacil.net/wp-content/uploads/2016/10/pimientos-rellenos.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PIMIENTOS RELLENOS ASADOS RECETA</h5>
        <p class="card-text">Los pimientos rellenos al horno son una alternativa de los pimientos rellenos convencionales. En este caso, los vamos a rellenar con arroz, carne picada y otras verduras. Para darles un toque extra, los vamos a asar. Se le puede añadir también un poco de azafrán, que dará color al arroz o simplemente puede añadir tomate. Son muy fáciles de hacer y en cuestión de una hora, los tendrás listos para servir. Esta receta la podemos encontrar dentro de nuestra selección de recetas de verano fáciles de hacer. Para preparar estos pimientos rellenos de arroz y carne al horno necesitarás:</p>
      </div>
    </div>
  </div>
</div>
</div>
